@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('bg-img.jpg'); 
    background-size: cover;
}
.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.50);
}

.drum {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.key {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 30px;
    border: 2px solid black;
    box-shadow: 5px 5px 15px black;
    padding: 5px;
    margin: 0 10px;
    cursor: pointer;
    transition: background 0.4s ease-in-out;
    width: 60px;
}

.sound {
    font-size: 14px;
    color: rgb(255, 193, 7);
}

.key:hover {
    background-color: #027750;
    
}
.bgColor {
    background-color: #960202b3;
}

@media (max-width:767px) {
    .drum {
        flex-direction: column;
    }
    .key {
        margin: 8px 0;
    }
}